In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Harvard_preprocessed.csv')

In [3]:
df.head()

,course_id,userid_DI,registered,viewed,explored,certified,grade,nevents,ndays_act,nchapters,nforum_posts,Age,LoE_DI_labels,gender_labels
0,HarvardX/CB22x/2013_Spring,MHxPC130442623,1,0,0,0,0.00,1,9,1,0,22,0,1
1,HarvardX/CB22x/2013_Spring,MHxPC130275857,1,0,0,0,0.00,1,16,1,0,23,0,1
2,HarvardX/CB22x/2013_Spring,MHxPC130539455,1,1,0,0,0.00,42,6,3,0,23,0,1
3,HarvardX/CB22x/2013_Spring,MHxPC130088379,1,1,0,0,0.00,70,3,3,0,23,0,1
4,HarvardX/CB22x/2013_Spring,MHxPC130024894,1,1,0,0,0.07,175,9,7,0,23,0,1

In [4]:
c=df.pop('grade')
df['grade']=c

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309638 entries, 0 to 309637
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   registered     309638 non-null  int64
 1   viewed         309638 non-null  int64
 2   explored       309638 non-null  int64
 3   certified      309638 non-null  int64
 4   nevents        309638 non-null  int64
 5   ndays_act      309638 non-null  int64
 6   nchapters      309638 non-null  int64
 7   nforum_posts   309638 non-null  int64
 8   Age            309638 non-null  int64
 9   LoE_DI_labels  309638 non-null  int64
 10  gender_labels  309638 non-null  int64
 11  grade          309638 non-null  float64
dtypes: float64(1), int64(11)
memory usage: 28.3 MB

In [6]:
df = df.drop(['course_id','userid_DI'],axis = 1)
df.head()

,registered,viewed,explored,certified,nevents,ndays_act,nchapters,nforum_posts,Age,LoE_DI_labels,gender_labels,grade
0,1,0,0,0,1,9,1,0,22,0,1,0.00
1,1,0,0,0,1,16,1,0,23,0,1,0.00
2,1,1,0,0,42,6,3,0,23,0,1,0.00
3,1,1,0,0,70,3,3,0,23,0,1,0.00
4,1,1,0,0,175,9,7,0,23,0,1,0.07

In [8]:
#Identify input and target columns
input_cols,target_cols=df.columns[:-1],df.columns[-1]
input_df,targets=df[input_cols].copy(),df[target_cols].copy()

In [14]:
cols1=input_df.columns[:9]

In [15]:
scaler=MinMaxScaler().fit(input_df[cols1])
input_df[cols1]=scaler.transform(input_df[cols1])

In [16]:
input_df.head()

,registered,viewed,explored,certified,nevents,ndays_act,nchapters,nforum_posts,Age,LoE_DI_labels,gender_labels
0,0.0,0.0,0.0,0.0,0.000000,0.045714,0.000000,0.0,0.268293,0,1
1,0.0,0.0,0.0,0.0,0.000000,0.085714,0.000000,0.0,0.280488,0,1
2,0.0,1.0,0.0,0.0,0.000934,0.028571,0.060606,0.0,0.280488,0,1
3,0.0,1.0,0.0,0.0,0.001573,0.011429,0.060606,0.0,0.280488,0,1
4,0.0,1.0,0.0,0.0,0.003965,0.045714,0.181818,0.0,0.280488,0,1

In [20]:
cols2=input_df.columns[9:]

In [23]:
#input_df[cols2]

In [29]:
#For categorical columns
one_hot_encoded_data = pd.get_dummies(input_df, columns = ['LoE_DI_labels', 'gender_labels'])
print(one_hot_encoded_data)

        registered  viewed  explored  certified   nevents  ndays_act  \
0              0.0     0.0       0.0        0.0  0.000000   0.045714
1              0.0     0.0       0.0        0.0  0.000000   0.085714
2              0.0     1.0       0.0        0.0  0.000934   0.028571
3              0.0     1.0       0.0        0.0  0.001573   0.011429
4              0.0     1.0       0.0        0.0  0.003965   0.045714
...            ...     ...       ...        ...       ...        ...
309633         0.0     1.0       0.0        0.0  0.000433   0.000000
309634         0.0     1.0       0.0        0.0  0.001709   0.000000
309635         0.0     0.0       0.0        0.0  0.000023   0.000000
309636         0.0     1.0       0.0        0.0  0.000820   0.011429
309637         0.0     0.0       0.0        0.0  0.000000   0.000000

        nchapters  nforum_posts       Age  LoE_DI_labels_0  LoE_DI_labels_1  \
0        0.000000           0.0  0.268293                1                0
1        0.000000           0.0  0.280488                1                0
2        0.060606           0.0  0.280488                1                0
3        0.060606           0.0  0.280488                1                0
4        0.181818           0.0  0.280488                1                0
...           ...           ...       ...              ...              ...
309633   0.030303           0.0  0.280488                0                0
309634   0.030303           0.0  0.231707                0                0
309635   0.000000           0.0  0.317073                1                0
309636   0.000000           0.0  0.280488                0                0
309637   0.000000           0.0  0.304878                0                0

        LoE_DI_labels_2  LoE_DI_labels_3  LoE_DI_labels_4  gender_labels_0  \
0                     0                0                0                0
1                     0                0                0                0
2                     0                0                0                0
3                     0                0                0                0
4                     0                0                0                0
...                 ...              ...              ...              ...
309633                0                0                1                0
309634                0                0                1                0
309635                0                0                0                0
309636                0                1                0                0
309637                0                1                0                0

        gender_labels_1  gender_labels_2
0                     1                0
1                     1                0
2                     1                0
3                     1                0
4                     1                0
...                 ...              ...
309633                1                0
309634                1                0
309635                1                0
309636                1                0
309637                1                0

[309638 rows x 17 columns]

In [34]:
input_df = one_hot_encoded_data

In [35]:
input_df.shape

(309638, 17)

In [36]:
X_train,X_test,y_train,y_test=train_test_split(input_df,targets,test_size=0.25,random_state=42)

In [37]:
X_train.head()

,registered,viewed,explored,certified,nevents,ndays_act,nchapters,nforum_posts,Age,LoE_DI_labels_0,LoE_DI_labels_1,LoE_DI_labels_2,LoE_DI_labels_3,LoE_DI_labels_4,gender_labels_0,gender_labels_1,gender_labels_2
172467,0.0,1.0,0.0,0.0,0.000046,0.000000,0.000000,0.0,0.182927,0,0,1,0,0,0,1,0
296743,0.0,1.0,0.0,0.0,0.006609,0.011429,0.030303,0.0,0.292683,1,0,0,0,0,1,0,0
289027,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.304878,1,0,0,0,0,0,1,0
44842,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.378049,1,0,0,0,0,0,1,0
256339,0.0,1.0,1.0,0.0,0.086146,0.222857,0.424242,0.0,0.353659,1,0,0,0,0,1,0,0

In [49]:
import xgboost
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
import warnings
warnings.simplefilter(action='ignore')

In [50]:
from sklearn.metrics import mean_absolute_error

# Function to evaluate model by using accuracy measures

def evaluate_model(y_test, y_pred, method):
    if method =='mae':
        score= mean_absolute_error(y_test, y_pred)
    else: 
        print("Only available acuuracy measures is mae.")
    return score

In [51]:
#Function to build model
def train_model(X_train, X_test, y_train, y_test):
    model_dict = {
        'linear_reg': LinearRegression,
        'elastic_net': ElasticNet,
        'ridge_reg' : Ridge,
        'lasso_reg' : Lasso,
        'xgb_reg' : xgboost.XGBRegressor,
        'adaboost_reg' : AdaBoostRegressor,
        'gb_reg' : GradientBoostingRegressor,
        'tree_reg' : DecisionTreeRegressor,
        'forest_reg' : RandomForestRegressor,
        #'svr': SVR
    }

    fitted_model=[]
    mae=[]
    
    for model_name in list(model_dict.keys()):   
        model = model_dict[model_name]()
        fitted_model.append(model.fit(X_train, y_train))
        mae.append(evaluate_model(y_test, model.predict(X_test), 'mae'))
            
    min_test = min_val_index(mae)
    min_mae = min_test[0]
    min_mae_index = min_test[1]
    final_model = fitted_model[min_mae_index]
    return (final_model, min_mae)

In [52]:
# Function to find minimum value and returning minimum value and its index
def min_val_index(l):
    min_l = min(l)
    min_index = l.index(min_l)
    return (min_l, min_index)

In [ ]:
# Train the models
test = train_model(X_train,X_test,y_train,y_test)
best_model = test[0]
mae_val = test[1]

In [43]:
print('Best model is',best_model,'MAE=',mae_val)

Best model is XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...) MAE= 0.005753502458952777

In [44]:
print(test)

(XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...), 0.005753502458952777)