In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

In [5]:
df = pd.read_csv('Harvard_preprocessed.csv')

In [6]:
df.head()

,course_id,userid_DI,viewed,explored,certified,nevents,ndays_act,nchapters,nforum_posts,Age,LoE_DI_labels,gender_labels,grade
0,HarvardX/CB22x/2013_Spring,MHxPC130442623,0,0,0,1.0,9.0,1.0,0,22.0,0,1,0.00
1,HarvardX/CB22x/2013_Spring,MHxPC130275857,0,0,0,1.0,16.0,1.0,0,23.0,0,1,0.00
2,HarvardX/CB22x/2013_Spring,MHxPC130539455,1,0,0,42.0,6.0,3.0,0,23.0,0,1,0.00
3,HarvardX/CB22x/2013_Spring,MHxPC130088379,1,0,0,70.0,3.0,3.0,0,23.0,0,1,0.00
4,HarvardX/CB22x/2013_Spring,MHxPC130024894,1,0,0,175.0,9.0,7.0,0,23.0,0,1,0.07

In [7]:
#c=df.pop('grade')
#df['grade']=c

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309638 entries, 0 to 309637
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   course_id      309638 non-null  object
 1   userid_DI      309638 non-null  object
 2   viewed         309638 non-null  int64
 3   explored       309638 non-null  int64
 4   certified      309638 non-null  int64
 5   nevents        309638 non-null  float64
 6   ndays_act      309638 non-null  float64
 7   nchapters      309638 non-null  float64
 8   nforum_posts   309638 non-null  int64
 9   Age            309638 non-null  float64
 10  LoE_DI_labels  309638 non-null  int64
 11  gender_labels  309638 non-null  int64
 12  grade          309638 non-null  float64
dtypes: float64(5), int64(6), object(2)
memory usage: 30.7+ MB

In [9]:
df = df.drop(['course_id','userid_DI'],axis = 1)
df.head()

,viewed,explored,certified,nevents,ndays_act,nchapters,nforum_posts,Age,LoE_DI_labels,gender_labels,grade
0,0,0,0,1.0,9.0,1.0,0,22.0,0,1,0.00
1,0,0,0,1.0,16.0,1.0,0,23.0,0,1,0.00
2,1,0,0,42.0,6.0,3.0,0,23.0,0,1,0.00
3,1,0,0,70.0,3.0,3.0,0,23.0,0,1,0.00
4,1,0,0,175.0,9.0,7.0,0,23.0,0,1,0.07

In [10]:
#Identify input and target columns
input_cols,target_cols=df.columns[:-1],df.columns[-1]
input_df,targets=df[input_cols].copy(),df[target_cols].copy()

In [11]:
cols1=input_df.columns[:9]

In [12]:
scaler=MinMaxScaler().fit(input_df[cols1])
input_df[cols1]=scaler.transform(input_df[cols1])

In [15]:
input_df.tail()

,viewed,explored,certified,nevents,ndays_act,nchapters,nforum_posts,Age,LoE_DI_labels,gender_labels
309633,1.0,0.0,0.0,0.000433,0.000000,0.030303,0.0,0.280488,1.00,1
309634,1.0,0.0,0.0,0.001709,0.000000,0.030303,0.0,0.231707,1.00,1
309635,0.0,0.0,0.0,0.000023,0.000000,0.000000,0.0,0.317073,0.00,1
309636,1.0,0.0,0.0,0.000820,0.011429,0.000000,0.0,0.280488,0.75,1
309637,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.304878,0.75,1

In [14]:
cols2=input_df.columns[9:]

In [13]:
#input_df[cols2]

In [16]:
#For categorical columns
one_hot_encoded_data = pd.get_dummies(input_df, columns = ['LoE_DI_labels', 'gender_labels'])
print(one_hot_encoded_data)

        viewed  explored  certified   nevents  ndays_act  nchapters  \
0          0.0       0.0        0.0  0.000000   0.045714   0.000000
1          0.0       0.0        0.0  0.000000   0.085714   0.000000
2          1.0       0.0        0.0  0.000934   0.028571   0.060606
3          1.0       0.0        0.0  0.001573   0.011429   0.060606
4          1.0       0.0        0.0  0.003965   0.045714   0.181818
...        ...       ...        ...       ...        ...        ...
309633     1.0       0.0        0.0  0.000433   0.000000   0.030303
309634     1.0       0.0        0.0  0.001709   0.000000   0.030303
309635     0.0       0.0        0.0  0.000023   0.000000   0.000000
309636     1.0       0.0        0.0  0.000820   0.011429   0.000000
309637     0.0       0.0        0.0  0.000000   0.000000   0.000000

        nforum_posts       Age  LoE_DI_labels_0.0  LoE_DI_labels_0.25  \
0                0.0  0.268293                  1                   0
1                0.0  0.280488                  1                   0
2                0.0  0.280488                  1                   0
3                0.0  0.280488                  1                   0
4                0.0  0.280488                  1                   0
...              ...       ...                ...                 ...
309633           0.0  0.280488                  0                   0
309634           0.0  0.231707                  0                   0
309635           0.0  0.317073                  1                   0
309636           0.0  0.280488                  0                   0
309637           0.0  0.304878                  0                   0

        LoE_DI_labels_0.5  LoE_DI_labels_0.75  LoE_DI_labels_1.0  \
0                       0                   0                  0
1                       0                   0                  0
2                       0                   0                  0
3                       0                   0                  0
4                       0                   0                  0
...                   ...                 ...                ...
309633                  0                   0                  1
309634                  0                   0                  1
309635                  0                   0                  0
309636                  0                   1                  0
309637                  0                   1                  0

        gender_labels_0  gender_labels_1  gender_labels_2
0                     0                1                0
1                     0                1                0
2                     0                1                0
3                     0                1                0
4                     0                1                0
...                 ...              ...              ...
309633                0                1                0
309634                0                1                0
309635                0                1                0
309636                0                1                0
309637                0                1                0

[309638 rows x 16 columns]

In [17]:
input_df = one_hot_encoded_data

In [18]:
input_df.shape

(309638, 16)

In [17]:
#X_train,X_test,y_train,y_test=train_test_split(input_df,targets,test_size=0.25,random_state=42)

In [19]:
#X_train.head()

In [17]:
#y_train.head()

The first model we are implementing is the Linear regression model. Next, we will check SVM,Naive Bayes,Decision tree (and its variants i.e. ensemble techniques). Finally we will compare the performance of the models using MAE and MSE on the test set.

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import LinearSVR
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.model_selection import KFold,cross_val_score
import warnings
warnings.simplefilter(action='ignore')

In [20]:
scores= [] #to store r squared
mse_list= [] #to store RMSE
mae_list = []
lrmodel = LinearRegression()
cv = KFold(n_splits=20, random_state=42, shuffle=True)

In [21]:
#from sklearn.linear_model import LinearRegression

for train_index, test_index in cv.split(input_df):
    X_train, X_test, y_train, y_test = input_df.loc[train_index], input_df.loc[test_index], targets.loc[train_index], targets.loc[test_index]
    lrmodel.fit(X_train, y_train)
    y_predict = lrmodel.predict(X_test)
    scores.append(lrmodel.score(X_test, y_test))
    mse_fold = mean_squared_error(y_test, y_predict)
    mse_list.append(mse_fold)
    mae_fold = mean_absolute_error(y_test, y_predict)
    mae_list.append(mae_fold)

In [22]:

print('MSE',np.mean(mse_list))
print('MAE',np.mean(mae_list))
print('R-squared',np.mean(scores))

MSE 0.001651432165421576
MAE 0.010724839144035986
R-squared 0.9069177172016634

In [23]:
#SVR
scores= [] #to store r squared
mse_list= [] #to store RMSE
mae_list = []
model2 = LinearSVR()
cv = KFold(n_splits=20, random_state=42, shuffle=True)
for train_index, test_index in cv.split(input_df):
    X_train, X_test, y_train, y_test = input_df.loc[train_index], input_df.loc[test_index], targets.loc[train_index], targets.loc[test_index]
    model2.fit(X_train, y_train)
    y_predict = model2.predict(X_test)
    scores.append(model2.score(X_test, y_test))
    mse_fold = mean_squared_error(y_test, y_predict)
    mse_list.append(mse_fold)
    mae_fold = mean_absolute_error(y_test, y_predict)
    mae_list.append(mae_fold)
print('MSE',np.mean(mse_list))
print('MAE',np.mean(mae_list))
print('R-squared',np.mean(scores))

MSE 0.001880866993223838
MAE 0.007842166627738933
R-squared 0.8939675797502264

In [26]:
# Naive Bayes
'''
model3 = GaussianNB()
model3.fit(X_train, y_train)
y_pred = model3.predict(X_test)
print('MSE',mean_squared_error(y_pred,y_test))
print('MAE',mean_absolute_error(y_pred,y_test))
'''

"\nmodel3 = GaussianNB()\nmodel3.fit(X_train, y_train)\ny_pred = model3.predict(X_test)\nprint('MSE',mean_squared_error(y_pred,y_test))\nprint('MAE',mean_absolute_error(y_pred,y_test))\n"

In [24]:
scores= [] #to store r squared
mse_list= [] #to store RMSE
mae_list = []
model4=DecisionTreeRegressor()
cv = KFold(n_splits=20, random_state=42, shuffle=True)
for train_index, test_index in cv.split(input_df):
    X_train, X_test, y_train, y_test = input_df.loc[train_index], input_df.loc[test_index], targets.loc[train_index], targets.loc[test_index]
    model4.fit(X_train, y_train)
    y_predict = model4.predict(X_test)
    scores.append(model4.score(X_test, y_test))
    mse_fold = mean_squared_error(y_test, y_predict)
    mse_list.append(mse_fold)
    mae_fold = mean_absolute_error(y_test, y_predict)
    mae_list.append(mae_fold)
print('MSE',np.mean(mse_list))
print('MAE',np.mean(mae_list))
print('R-squared',np.mean(scores))

MSE 0.0017729537849273454
MAE 0.007377631921941093
R-squared 0.8999627750552929

In [25]:

scores= [] #to store r squared
mse_list= [] #to store RMSE
mae_list = []
model5=XGBRegressor()
cv = KFold(n_splits=20, random_state=42, shuffle=True)
for train_index, test_index in cv.split(input_df):
    X_train, X_test, y_train, y_test = input_df.loc[train_index], input_df.loc[test_index], targets.loc[train_index], targets.loc[test_index]
    model5.fit(X_train, y_train)
    y_predict = model5.predict(X_test)
    scores.append(model5.score(X_test, y_test))
    mse_fold = mean_squared_error(y_test, y_predict)
    mse_list.append(mse_fold)
    mae_fold = mean_absolute_error(y_test, y_predict)
    mae_list.append(mae_fold)
print('MSE',np.mean(mse_list))
print('MAE',np.mean(mae_list))
print('R-squared',np.mean(scores))

MSE 0.0008876220281619138
MAE 0.005679432054100453
R-squared 0.9499603642577933

In [26]:

scores= [] #to store r squared
mse_list= [] #to store RMSE
mae_list = []
model6=RandomForestRegressor()
cv = KFold(n_splits=20, random_state=42, shuffle=True)
for train_index, test_index in cv.split(input_df):
    X_train, X_test, y_train, y_test = input_df.loc[train_index], input_df.loc[test_index], targets.loc[train_index], targets.loc[test_index]
    model6.fit(X_train, y_train)
    y_predict = model6.predict(X_test)
    scores.append(model6.score(X_test, y_test))
    mse_fold = mean_squared_error(y_test, y_predict)
    mse_list.append(mse_fold)
    mae_fold = mean_absolute_error(y_test, y_predict)
    mae_list.append(mae_fold)
print('MSE',np.mean(mse_list))
print('MAE',np.mean(mae_list))
print('R-squared',np.mean(scores))

MSE 0.0009192599221673578
MAE 0.005756155915120622
R-squared 0.948155590508241

In [27]:

scores= [] #to store r squared
mse_list= [] #to store RMSE
mae_list = []
model7=AdaBoostRegressor()
cv = KFold(n_splits=20, random_state=42, shuffle=True)
for train_index, test_index in cv.split(input_df):
    X_train, X_test, y_train, y_test = input_df.loc[train_index], input_df.loc[test_index], targets.loc[train_index], targets.loc[test_index]
    model7.fit(X_train, y_train)
    y_predict = model7.predict(X_test)
    scores.append(model7.score(X_test, y_test))
    mse_fold = mean_squared_error(y_test, y_predict)
    mse_list.append(mse_fold)
    mae_fold = mean_absolute_error(y_test, y_predict)
    mae_list.append(mae_fold)
print('MSE',np.mean(mse_list))
print('MAE',np.mean(mae_list))
print('R-squared',np.mean(scores))

MSE 0.001770007879385175
MAE 0.011912071978936237
R-squared 0.9005565804746538

In [28]:

scores= [] #to store r squared
mse_list= [] #to store RMSE
mae_list = []
model8=GradientBoostingRegressor()
cv = KFold(n_splits=20, random_state=42, shuffle=True)
for train_index, test_index in cv.split(input_df):
    X_train, X_test, y_train, y_test = input_df.loc[train_index], input_df.loc[test_index], targets.loc[train_index], targets.loc[test_index]
    model8.fit(X_train, y_train)
    y_predict = model8.predict(X_test)
    scores.append(model8.score(X_test, y_test))
    mse_fold = mean_squared_error(y_test, y_predict)
    mse_list.append(mse_fold)
    mae_fold = mean_absolute_error(y_test, y_predict)
    mae_list.append(mae_fold)
print('MSE',np.mean(mse_list))
print('MAE',np.mean(mae_list))
print('R-squared',np.mean(scores))

MSE 0.0009169920852934984
MAE 0.006000248504857699
R-squared 0.9483056957634972

In the above analysis, we can see that we get the best results using XGBoost Regressor.